#game-container {
  display: flex;
  justify-content: center;
  .category-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: calc(100%/6);
    .category-name {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $title-color;
      background-color: $primary-color;
      height: 100px;
    }
    .clues-list {
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;
        margin: 5px 0;
        background-color: $primary-color;
        color: $secondary-color;
        font-size: 2rem;
        box-sizing: border-box;
        &:hover {
          cursor: pointer;
          background-color: darken($primary-color, 5%);
        }
      }
    }
  }
}
