header {
  nav {
    display: flex;
    justify-content: flex-end;
    #logo {
      position: absolute;
      top: 20px;
      left: 20px;
      // padding: 10px;
      height: 50px;
    }
    ul {
      display: flex;
      justify-content: flex-end;
      height: 75px;
      padding: 10px;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 3px;
        padding: 10px 20px;
        &:hover {
          cursor: pointer;
          background: #fff;
          color: #555;
        }
      }
      #game-type {
        border: none;
        &:hover {
          background: none;
          color: #fff;
          cursor: auto;
        }
      }
    }
  }
}
