.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  .modal {
    background: #fff;
    color: #000;
    padding: 40px;
    border-radius: 5px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrapper {
      display: flex;
      input {
        outline: none;
        padding: 20px;
        width: 80%;
      }
      button {
        width: 20%;
      }
    }
    .mic-button {
      font-size: 3rem;
    }
    .listening {
      color: #df1e58;
    }
  }
}

.fa-check {
  color: #1edf82;
  font-size: 3rem;
}

.fa-times {
  color: #df1e58;
  font-size: 3rem;
}
