.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  .modal {
    background: #fff;
    color: #555;
    padding: 40px;
    // border-radius: 5px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    input {
      width: 80%;
      padding: 20px;
      box-sizing: border-box;
      margin: 10px;
      // border-radius: 3px;
    }
    button {
      width: 80%;
      padding: 20px;
      background-color: $primary-color;
      border: none;
      color: #fff;
      box-sizing: border-box;
      margin: 10px;
      &:hover {
        background-color: darken($primary-color, 5%);
        cursor: pointer;
      }
    }
    #time-left {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -95px;
      // background: darken(#fff, 5%);
      background: $primary-color;
      color: #fff;
      height: 150px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 10px solid #fff;
      border-radius: 50%;
      box-sizing: border-box;
      font-weight: lighter;

    }
    .modal-category {
      margin-top: 50px;
      align-self: flex-start;
    }
    .modal-question {
      font-weight: lighter;
    }
    .wrapper {
      margin: 10px 0;
      display: flex;
      width: 100%;
      input {
        outline: none;
        padding: 20px;
        width: 80%;
        border: none;
        background: darken(#fff, 5%);
      }
      .submit-answer-btn {
        width: 20%;
        padding: 20px;
        border: none;
        background-color: $primary-color;
        color: #fff;
        &:hover {
          cursor: pointer;
          background-color: darken($primary-color, 5%);
        }
      }
    }
    .pass-btn {
      background: none;
      border: none;
      .pass-span {
        color: #df1e58;
        &:hover {
          cursor: pointer;
          color: darken(#df1e58, 5%)
        }
      }
      &:hover {
        cursor: pointer;
        color: darken(#df1e58, 5%)
      }
    }
    .mic-button {
      margin: 20px;
      font-size: 3rem;
      color: $primary-color;
      &:hover {
        cursor: pointer;
        color: darken($primary-color, 5%);
      }
    }
    .listening {
      color: #df1e58;
      &:hover {
        color: #df1e58;
      }
    }
  }
}

.fa-check {
  color: #1edf82;
  font-size: 3rem;
}

.fa-times {
  color: #df1e58;
  font-size: 3rem;
}

.correct-answer {
  font-weight: normal;
  text-decoration: underline;
}
