#user-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5px;
  height: 100px;
  color: #fff;
  font-size: 3rem;
  .user {
    text-align: center;
    p {
      margin: 0;
      font-size: 1rem;
    }
    .my-player {
      font-weight: bold;
    }
    h3 {
      margin: 0;
    }
  }
}
