// $primary-color: #51228B;
// $secondary-color: #a95dac;
$primary-color: #00C69F;
$secondary-color: #00B1E2;
$title-color: #88ABF3;

@font-face {
  font-family: pokemonTitle;
  src: url('assets/fonts/PokemonSolid.ttf');
}
