@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "variables";
@import "gameBoard";
@import "header";
@import "modal";
@import "userSection";

body {
  background-color: #000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $secondary-color;
}
