@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "variables";
@import "gameBoard";
@import "header";
@import "modal";
@import "userSection";

body {

}

#container {
  height: 100vh;
  background: #170d84; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #170d84 0%, #8f3993 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #170d84 0%,#8f3993 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #170d84 0%,#8f3993 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  // color: $secondary-color;
  color: #fff;
  &:hover {
    color: #555;
  }
}
